body{
    background-image: url(citylarge.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(38, 96, 119);
    margin-top: 50px;
    margin-left: 350px;
}
div{
    color: rgb(125, 48, 128);
    margin-left: 150px;
    margin-right: 150px;
}
