body{
    background-image: url(citylarge.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(38, 96, 119);
    margin-top: 50px;
    margin-left: 350px;
}
p{
    color: rgb(125, 48, 128);
    margin-left: 150px;
    margin-right: 150px;
}
div{
    height: 20px;
    width: 500px;
    margin-left:400px;
    font-style: italic;
}
button{
    background-color:rgb(126, 26, 92);
}
